{% block agreemnt_2 %}
(주) 볼랩 회원 가입을 위한 개인정보 수집 이용 동의서

(주) 볼랩 회원 가입을 위하여 아래의 개인정보 수집 이용(및 제공)에 대한 내용을 자세히 읽어 보신 후 동의 여부를 결정하여 주시기 바랍니다.

□ 개인정보 수집 및 이용 내역

항 목	수집목적	보유기간
성명, 전화번호, 생년월일	서비스제공, 회원관리, 결제 및 홍보, 출입 문자 발송	5년
테니스 연습 영상	서비스제공	회원탈퇴 및 삭제 요청 시

위와 같이 개인정보를 수집 이용하는데 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 일부 서비스를 제공 받으실 수 없 습니다.

14세 미만의 경우 법정대리인동의가 필요합니다. 회원 본인이 14세 미만인 경우 법정대리인께서 (주)볼랩 admin@balllab.co.kr 로 아래 양식의 법정대리인임을 확인할 수 있는 정보를 기재하시어  아래의 동의서약을 보내 주시고 담당자 확인 절차를 거쳐 회원가입이 완료됩니다.


□ 개인정보 취급업무 위탁 내역
위탁 받는 자(수탁업체)	업무내용
(주)유디아이디	결제대행 서비스 제공
아마존 AWS(유)	클라우드 서비스 제공



동의		미동의	
위와 같이 개인정보를 수집하는데 동의하십니까?


(참고) 14세 미만인 경우 위와 같이 개인정보를 수집하시는데 동의 하십니까?
동의		미동의	


년      월       일

본         인 성명:                                     
법정대리인 성명:



주식회사 볼랩 귀중
{% endblock %}