{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 찾기</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="phone">핸드폰 번호</label>
            <input type="text" class="form-control" name="phone" id="phone"
                   value="{{ form.phone.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                비밀번호 찾기
            </button>
        </div>
        <div class="d-grid gap-2 my-3">
            <a href="{{ url_for('auth.login_form') }}" class="btn btn-success"> 뒤로 돌아가기</a>
        </div>
    </form>
</div>
{% endblock %}