{% extends "base.html" %}
{% block content %}

<div class="container">

    <br>
    <h5 class="my-3 border-bottom pb-2">
        ID: {{ user.phone }}
        <br>
        성명: {{ user.username }}
        <br>
        보유 LUV: {{ user.point }}
    </h5>

    <h5 class="my-1 border-bottom border-top pb-2 pt-2 text-center">
        <b style="color: red;">BALLLAB LUV 충전해택!</b><br>
        <b>LUV 충전 시 다양한 혜택이 제공됩니다.</b>
    </h5>
    <br>

    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <h3 class="text-center">
            <b>충 전 금 액</b>
        </h3>
        <br>

        <div class="my-2">
            {% for point_table in point_tables %}
                <div class="form-check mx-auto my-3">
                    <input class="form-check-input my-1" type="radio" name="price" value={{ point_table.price }} id="option_1">
                    <label class="form-check-label" for="option_1">
                        <b>{{ point_table.price }} [{{ point_table.point }}] LUV</b>
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                결제 하기
            </button>
        </div>

    </form>

</div>

{% endblock %}