{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="before_password">이전 비밀번호</label>
            <input type="password" class="form-control" name="before_password" id="before_password"
                   value="{{ '' }}">
        </div>
        <div class="mb-3">
            <label for="new_password1">새로 사용할 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1"
                   value="{{ '' }}">
        </div>
        <div class="mb-3">
            <label for="new_password2">새로 사용할 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2"
                   value="{{ '' }}">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                비밀 번호 변경
            </button>
        </div>
    </form>
    <div class="d-grid gap-2 my-3">
        <a href="{{ url_for('main.user_menu', email=user.email) }}" class="btn btn-success"> 뒤로 돌아가기</a>
    </div>
</div>
{% endblock %}