{% extends "base.html" %}
{% block content %}

<script>
    $('.checkbox_limit').on('change', function() {
    if($('.checkbox_limit:checked').length > 2) {
        this.checked = false;
    }
    });
</script>

<div class="container">
    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 125px;">
    <br>
    <h2 class="my-1 border-bottom pb-2 pt-2 text-center">
        <b>입장 코드</b>
    </h5>

    <div class="mx-1">
        <div class="d-grid gap-2 my-3 overflow-scroll border-bottom bg-light"  data-bs-spy="scroll">

            <div class="border p-3 rounded-start bg-light">
                <img src="{{ url_for('static', filename=reservation_table.qr_path[5:]) }}" style="width: 400px;" class="mx-auto d-block">
            </div>

        </div>
    </div>
    <div class="d-grid gap-2 my-3">
        <a href="{{ url_for('main.check_reservation', email=user.email) }}" class="btn btn-primary">확인</a>
    </div>


</div>

{% endblock %}