{% extends "base.html" %}
{% block content %}

{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}

<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

<div class="container">

    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 180px;">
    <br>

    <h5 class="my-1 border pb-2 pt-2 text-center">
        회원님의 핸드폰으로 결제링크가 발송되었습니다.<br>
        금액을 확인하시고 결제해주세요!
        <br>
        결제가 완료되면 확인 버튼을 눌러주세요.
        <br>
        <br>
        결제 완료 이후<br>
        "메인메뉴"에서 <br>
        충전된 포인트를 확인 가능합니다.
        <br>
        <br>
        주식회사 볼랩
    </h5>
    <br>
    <form method="post">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                확 인
            </button>
        </div>
    </form>


</div>

{% endblock %}