<script src="https://lite.payapp.kr/public/api/payapp-lite.js"></script>

<form method="post" name="MyForm">
    <input type="hidden" name="userid" value="balllab">
    <input type="hidden" name="shopname" value="주식회사 볼랩">
    <input type="hidden" name="goodname" value="{{ buy_product.product }}">
    <input type="hidden" name="price" value="1000">
    <input type="hidden" name="recvphone" value="{{ buy_product.phone }}">
    <input type="hidden" name="meno" value="주식회사 볼랩 결제요청드립니다.">
    <input type="hidden" name="reqaddr" value="1">
    <input type="hidden" name="currency" value="krw">
    <input type="hidden" name="returnurl" value="{{ url_for('main.confirm_pay', email=user.email)}}">
</form>

<script>
    function myPay() {
        PayApp.setForm('MyForm');
        PayApp.call();
    }
    window.onload = myPay;
</script>