{% extends "base.html" %}
{% block content %}
<div class="container">

    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 200px;">
    <br>
    <h5 class="my-3 border-bottom pb-2">
        ID: {{ user.phone }}
        <br>
        성명: {{ user.username }}
        <br>
        보유 LUV: {{ user.point }}
        <br>
        관리자 지급 LUV: {{ user.admin_point }}
    </h5>
    <br>

    <div class="d-grid gap-auto mb-3">
        <a href="{{ url_for('main.buy_point', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            포인트 충전
        </a>

        <a href="{{ url_for('main.reserve_lesson_date_area_lesson_coach', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            레슨 예약
        </a>

        <a href="{{ url_for('main.reserve_court_area_date', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            코트 예약
        </a>

        <a href="{{ url_for('main.check_reservation', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            예약 확인
        </a>

        <a href="{{ url_for('main.check_video', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            나의 영상 관리
        </a>

        <a href="{{ url_for('main.change_password', phone=user.phone) }}" class="btn btn-primary my-1 btn-lg">
            비밀번호 변경
        </a>
    </div> 

</div>

{% endblock %}