{% extends "base.html" %}
{% block content %}
<div class="container">

    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 200px;">
    <br>
    <h5 class="my-3 border-bottom pb-2">
        ID: {{ user.phone }}
        <br>
        성명: {{ user.username }}
        <br>
        보유 LUV: {{ user.point }}
    </h5>
    <br>

    <div class="d-grid gap-auto mb-3">
        <a href="{{ url_for('main.buy_point', email=user.email) }}" class="btn btn-primary my-1 btn-lg">
            포인트 충전
        </a>

        <a href="{{ url_for('main.reserve_court_area_date', email=user.email) }}" class="btn btn-primary my-1 btn-lg">
            코트 예약
        </a>

        <a href="{{ url_for('main.check_reservation', email=user.email) }}" class="btn btn-primary my-1 btn-lg">
            예약 확인
        </a>

        <a href="#" class="btn btn-primary my-1 btn-lg">
            게시판
        </a>
    </div> 

</div>

{% endblock %}