{% extends "base.html" %}
{% block content %}
<div class="container">

    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 200px;">
    <br>
    <h3 class="my-3 border-bottom pb-2">
        <b>관리자 메뉴</b>
    </h3>
    <br>

    <div class="d-grid gap-auto mb-3">
        <a href="{{ url_for('admin.door_list', email=user.email) }}" class="btn btn-primary my-1 btn-lg">
            원격 도어락 열기
        </a>

        <a href="#" class="btn btn-primary my-1 btn-lg">
            회원 관리
        </a>

        <a href="{{ url_for('admin.admin_reservation', email=user.email) }}" class="btn btn-primary my-1 btn-lg">
            예약 관리
        </a>

        <a href="{{ url_for('main.login_page') }}" class="btn btn-success my-1 btn-lg">
            돌아 가기
        </a>

    </div> 

</div>

{% endblock %}