{% extends "base.html" %}
{% block content %}

<div class="container">

    <br>
    <img src="{{ url_for('static', filename='/logo/logo.png') }}" class="rounded mx-auto d-block" style="width: 200px;">
    <br>
    <h3 class="my-3 border-bottom pb-2">
        <b>코트 관리</b>
    </h3>
    {% include "flash.html" %}
    <br>

    <div class="d-grid gap-auto mb-3">
        {% for court in court_table %}
            <a href="{{ url_for('admin.court_status_onoff', admin_phone=user.phone, court_area = court.area, court_nm=court.court_nm) }}" class="d-grid btn btn-primary my-2 btn-lg">
                {{ court.court }}
            </a>
        {% endfor %}
    </div> 

    <div class="d-grid gap-2 my-3">
        <a href="{{ url_for('admin.court_management', admin_phone=user.phone) }}" class="btn btn-success">확인</a>
    </div>

</div>

{% endblock %}