{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">회원 정보 및 포인트 관리</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">Price</label>
            <input type="text" class="form-control" name="price" id="price" readonly value="{{ point_table.price }}">
        </div>
        <div class="mb-3">
            <label for="phone">Point</label>
            <input type="text" class="form-control" name="point" id="point" value="{{ point_table.point }}">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                수정 하기
            </button>
        </div>
    </form>
    <div class="d-grid gap-2 my-3">
        <a href="{{ url_for('admin.point_price_management', admin_email=user.email) }}" class="btn btn-success"> 뒤로 돌아가기</a>
    </div>
</div>
{% endblock %}